<div class="container">
  <div class="left_toolbar">

    <div class="home_btn">
      <a md-mini-fab [routerLink]="['/']">
        <md-icon>home</md-icon>
      </a>
    </div>

    <button md-mini-fab><md-icon>code</md-icon></button>
    <button md-mini-fab><md-icon>search</md-icon></button>

  </div>

  <div class="tab1">
    <app-files></app-files>
  </div>

  <div class="editor">
    <div class="editor-tabs">
      <div class="tab-selected"><span class="tab-name">Models.yaml</span><span class="close-tab">x</span></div>
      <div class="tab"><span class="tab-name">Controllers.yaml</span><span class="close-tab">x</span></div>
      <div class="tab"><span class="tab-name">TEST</span><span class="close-tab">x</span></div>
    </div>
    <app-editor></app-editor>
  </div>
</div>