<p-confirmDialog></p-confirmDialog>
<div class="container">
  <div class="left_toolbar">

    <div class="home_btn">
      <a mat-mini-fab [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </a>
    </div>

    <button mat-mini-fab><mat-icon>code</mat-icon></button>
    <button mat-mini-fab><mat-icon>search</mat-icon></button>

  </div>

  <div class="tab1">
    <app-files></app-files>
  </div>

  <div class="editor">
    <app-tabMenu [items]='items'></app-tabMenu>
    <app-editor></app-editor>
  </div>
</div>