.container {
  display: flex;
	height: 100%;
}

.left_toolbar {
	flex: none;
	width: 50px;
	padding: 5px;
}

.tab1 {
  flex: initial;
  width: 300px;
  min-width: 100px;
	border-left: solid white 1px;
	border-right: solid white 1px;	
}

.editor {
	flex: 1;
}

.home_btn {
	position: fixed;
	bottom: 5px;
	left: 5px;
}