<form #NewForm="ngForm" class="form" >
  <h2>
    Create a new Website project
  </h2>
  <mat-input-container>
    <input name="lname" mdInput placeholder="Website name" [(ngModel)]="name" #lname="ngModel" required>
    <div *ngIf="lname.errors && (lname.dirty || lname.touched)">
      <mat-error *ngIf="lname.errors.required">
        Website name is required.
      </mat-error>
    </div>
  </mat-input-container>
  <br>
  <mat-input-container>
    <input mdInput placeholder="Website path" [(ngModel)]="path" name="pathi" #pathi="ngModel" required>
    <div *ngIf="pathi.errors && (pathi.dirty || pathi.touched)">
      <mat-error *ngIf="pathi.errors.required">
        Website name is required.
      </mat-error>
    </div>
  </mat-input-container>
  <button mat-button (click)="browse()">Browse</button>
  <input type="file" (change)="folderSelect($event)" webkitdirectory style="display: none" #folderDialog />
  <br>
  <button mat-raised-button [disabled]="!NewForm.form.valid" (click)="create()">Create</button>
</form>