/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background-color: #080808;
  color: white;

  height: 100%;
}

.form {
  padding: 30px;
  background-color: #080808;  
}
