/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background-color: #252526;
  color: white;

  height: 100%;
}

.form {
  padding: 30px;
  background-color: #252526;  
}

@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.material-icons.mat-icon {
  @include mat-icon-size(36px);
}

